@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<div>
    <footer class="page-footer font-small small blue">
        <div class="footer-copyright text-center py-3">
            @Assembly.GetExecutingAssembly().GetName().Name - @Assembly.GetExecutingAssembly().GetName().Version
        </div>
    </footer>
</div>